/* цвет текста
черный основной #212121
белый #FFFFFF
бледносерый добавочный #757575 
акцентный голубой для текста и оформления #2196F3 
цвета баннера и футера #2F303A
для кнопок и секции светло серый #F5F4FA */
/* нормалайз не дает нужного эффеккта по этому использую это html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

/* About all document */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  padding-inline-start: 0px;
}

:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --clean-color: #ffffff;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
  --border-header: #ececec;
  --border-gallery: #eeeeee;
  --footer-link: rgba(255, 255, 255, 0.6);
  --drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --icon-gray: #afb1b8;
  --ourteam-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --footer-icons: rgba(255, 255, 255, 0.1);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-back: rgba(0, 0, 0, 0.2);
  --whatwedo-overlay: rgba(47, 48, 58, 0.8);
  --gallery-overlay: rgba(33, 150, 243, 0.9);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-duration: 250ms;
}

body {
  background-color: var(--clean-color);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* ширина общего контента */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}
.web {
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0px;
}

/* Header */
.header {
  padding: 25px 0px;
  border-bottom: 1px solid var(--border-header);
}

.header-center {
  align-items: center;
}

.logo {
  color: var(--main-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.contacts .link,
.contacts .link:visited {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 30px;
  display: flex;
  align-items: center;
  /* 
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function); */
  transition: color var(--time-duration) var(--timing-function);
}
.contacts:last-child {
  margin-right: 0;
}
.icon-contacts {
  margin-right: 10px;
}

.space:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 93px;
  display: flex;
}

.site-nav .link,
.site-nav .link:visited {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function); */
  transition: color var(--time-duration) var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* link hover line */
.link-push-line {
  position: relative;
}

.link-push-line::before {
  content: '';
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* section banner */
.tagline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--clean-color);
  width: 696px;
  margin: 0 auto;
}

.banner-center {
  text-align: center;
}

.banner {
  padding: 200px 0px;
  background-color: var(--dark-background);
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-our-office.jpg);
  background-size: cover;
}

.order {
  color: var(--clean-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  box-shadow: var(--drop-shadow);
}

/* most sections */
.section-padding {
  padding: 94px 15px;
}

/* section our advantages */
.advantages .advantages-about {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.advantages .desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0px;
}

.flex-advantages {
  width: 270px;
}

.advantages-div {
  display: flex;
  background-color: var(--light-background);
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.advantages-svg {
  width: 70px;
  height: 70px;
}
/* section what we do */
.section-whatwedo {
  padding-bottom: 94px;
}
.whatwedo-list {
  position: relative;
}
.whatwedo-name {
  position: absolute;
  bottom: 0;
  width: 100%;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-align: center;
  text-transform: uppercase;
  color: var(--clean-color);
  background: var(--whatwedo-overlay);
  padding-top: 27px;
  padding-bottom: 27px;
}
/* section our team */
.ourteam {
  background-color: var(--light-background);
}

.ourteam .heading-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px 0px 10px 0px;
}

.ourteam .desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 16px 0px;
}

.ourteam-back,
.ourteam-back:visited {
  background-color: var(--clean-color);
  width: 270px;
  /* в макете стоит три тени - это немного странно - они действуют одновременно?зачем так? */
  box-shadow: var(--ourteam-shadow);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;

  /* transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function); */
  transition: filter var(--time-duration) var(--timing-function);
}

.ourteam-back:hover,
.ourteam-back:focus {
  filter: var(--drop-shadow);
}

.icon-ul {
  padding: 0 32px 30px 32px;
}

.icon-social-list,
.icon-social-list:visited {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-gray);
  border-radius: 50%;

  /* transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function); */
  transition: background-color var(--time-duration) var(--timing-function),
    fill var(--time-duration) var(--timing-function);
}
.icon-social-list:hover,
.icon-social-list:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--clean-color);
}
.icon-social {
  width: 20px;
  height: 20px;
}
/* other */
.heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 50px 0px;
}

.desc {
  color: var(--second-color);
}

.link {
  text-decoration: none;
}

/* section gallery */
.gallery {
  padding-bottom: 64px;
}
.flex-gallery {
  display: flex;
}
.gallery .heading-gallery {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px 24px;
  margin: 0px;
}

.gallery .desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  padding: 0px 24px;
  padding-bottom: 20px;
  margin: 0px;
}

.gallery-back,
.gallery-back:visited {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  cursor: pointer;

  /* transition-property: background-color, filter;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function); */
  transition: background-color var(--time-duration) var(--timing-function),
    filter var(--time-duration) var(--timing-function);
}

.gallery-back:hover,
.gallery-back:focus {
  background-color: var(--clean-color);
  filter: var(--drop-shadow);
}
.gallery-back:nth-child(3n) {
  margin-right: 0px;
}
.bordering {
  border-bottom: 1px solid var(--border-gallery);
  border-right: 1px solid var(--border-gallery);
  border-left: 1px solid var(--border-gallery);
}
.img-gallery {
  display: block;
}
/* gallery overlay */
.main-img-gallery {
  position: relative;
  overflow: hidden;
}
/* .overlay-gallery {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--clean-color);
  background-color: var(--gallery-overlay);

  transform: translateY(100%);
  transition: transform var(--time-duration) var(--timing-function);
}
.main-img-gallery:hover .overlay-gallery {
  transform: translateY(0px);
} */
.overlay-gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  bottom: -100%;
  /* зачем использовать боттом, если и без него так же работает? в чем его функция? */
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--clean-color);
  background-color: var(--gallery-overlay);

  transition: transform var(--time-duration) var(--timing-function);
}
.main-img-gallery:hover .overlay-gallery {
  transform: translateY(-100%);
}
/* buttons */
.button {
  color: var(--main-color);
  background-color: var(--light-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  margin-bottom: 50px;
  cursor: pointer;
  outline: none;

  /* transition-property: color, background-color, filter;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function); */
  transition: color var(--time-duration) var(--timing-function),
    background-color var(--time-duration) var(--timing-function),
    filter var(--time-duration) var(--timing-function);
}

.button:hover,
.button:focus {
  color: var(--clean-color);
  background-color: var(--accent-color);
  filter: var(--drop-shadow);
}

.flex-button {
  display: flex;
  justify-content: center;
}

.space-button:not(:last-child) {
  margin-right: 8px;
}
/* section our clients */
.logo-container,
.logo-container:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-gray);
  border-radius: 4px;
  fill: var(--icon-gray);

  /* transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function); */
  transition: fill var(--time-duration) var(--timing-function),
    border-color var(--time-duration) var(--timing-function);
}
.logo-container:hover,
.logo-container:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* footer */
.footer {
  background-color: var(--dark-background);
  padding: 60px 0px;
}

.footer .link {
  color: var(--clean-color);
}

.address {
  color: var(--clean-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 231px;
  margin-top: 20px;
}

.address .link,
.address .link:visited {
  color: var(--footer-link);
  display: inline-block;
  margin-top: 9px;
}
.icon-footer-list,
.icon-footer-list:visited {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--clean-color);
  background-color: var(--footer-icons);
  border-radius: 50%;

  /* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function); */
  transition: background-color var(--time-duration) var(--timing-function);
}
.icon-footer-list:hover,
.icon-footer-list:focus {
  background-color: var(--accent-color);
}
.footer-p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--clean-color);
  margin-bottom: 20px;
  margin-top: 12px;
}

.footer-space-icon {
  margin-right: 10px;
}

.footer-space-icon:last-child {
  margin-right: 0;
}
.footer-flex {
  display: flex;
}
.footer-margin {
  margin-left: 70px;
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--modal-back);

  opacity: 1;
  transition: opacity var(--time-duration) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%) scale(0.7);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  width: 528px;
  height: 581px;

  background-color: var(--clean-color);
  border-radius: 4px;
  box-shadow: var(--modal-shadow);
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  outline: none;
}
